body {
  font-family: 'Open Sans', sans-serif;  
}

.header {
  background: #3F3244;
  height: 70px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .header-title {
    font-size: 30px;
    font-weight: 100;
    margin-left: 5%;
    span {
      color: #34D1D1
    }
  }

  .header-profile-name {
    font-size: 24px;
    font-weight: 400;
    margin-right: 5%;
  }
}

.break {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 50px 10px;

  .break-title {
    font-size: 20px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1%;
  }
  
  .break-border {
    width: 75%;
    height: 1px;
    background: #D1D2D3;
    margin: 1%;
    
  }
}

.tabs-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .controls {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    .tab {
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 21px;
      background: #F2F2F2;
      color: #666666; 
      margin-left: 0.5%;  
      font-weight: 100;  
    }
    .selected {
      font-weight: 400;
      background: #fff;
    }
  }
  .tab-info {
    border: 1px solid #D1D2D3;
    width: 80%;
    height: 500px;
  }

  .tab-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 440px;
    .image-container {
      background: #F2F2F2;
      margin: 10% 0 15% 10%;
      border: 1px solid #D1D2D3;
    }
    .text-container {
      margin: 6% 10% 0 8%;
      .tab-header {
        font-size: 22px;
        font-weight: 600;
      }
      .tab-break {
        width: 100%;
        height: 1px;
        background: #D1D2D3;
        margin: 2% 0;
      }
      p {
        font-weight: 100;
        font-size: 19px;
        margin: 5% 0 3% 0;
        line-height: 150%;
      }
    }
  }
}

.view-code-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4%;
  button {
    width: 300px;
    height: 60px;
    background: #3F3244;
    color: #fff;
    font-size: 22px;
    font-weight: 100;
  }
}

.flex-card-container {
  display: flex;
  justify-content: center;
  margin-bottom: 4%;
}

.flex-cards {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  .card {
    height: 300px;
    border: 1px solid #D1D2D3;
    margin: 15px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    .card-header {
      grid-row: 1 /span 1;
      font-size: 24px;
      font-weight: 600;
      display: flex;
      align-items: center;
      padding-left: 5%;
    }
    .card-image {
      grid-row: 2 /span 3;
      border-top: 1px solid #D1D2D3;
      background: #F2F2F2;
    }
  }
  .one {
    grid-column: 1 /span 2;
  }
  .seven {
    grid-column: 2 /span 2;
  }
}






